.div2{
    display: inline-block;
    margin-right: 10rem;
}
.people{
    margin: auto;
    display: inline-block;
}
#id2{
   background-color: lightgreen;
}
#id1{
    background-color: lightgreen;
}
